version: '3'

volumes: 
  data: {}

services: 
  nginx:
    build: ./requirements/nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - data:/var/www/html
    networks:
      - sparkworld
    tty: true 

  wordpress:
    build: ./requirements/wordpress
    restart: always
    volumes: 
      - data:/var/www/html
    expose:
      - "9000"
    networks:
      - sparkworld
    tty: true

  mariadb:
    build: ./requirements/mariadb
    restart: always
    expose: 
      - "3306"
    networks:
      - sparkworld
    tty: true


networks: 
  sparkworld:
    driver: bridge
